
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,html,body{
    padding: 0;
    margin: 0;
}

body{
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    box-sizing: border-box;
    line-height: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background: var(--main-3, #F5F5F5);
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    box-sizing: border-box;
}
button{
    outline:none;
    border:none;
    background: none;
    color: inherit;
    cursor: pointer;
}
input{
    outline:none;
    border:none;
    background: none;
    color: inherit;
}
.wrapper{
    overflow: hidden;
    width: 100%;
    max-width: 100%;
}
@media (max-width:1279px){
    .desktop{
        display: none;
    }
}

@media (min-width:1280px){
    .mobile{
        display: none;
    }
    
}

.container{
    max-width:1440px;
    width:90%;
    margin:0 auto;
}

header{
    position: relative;
    top:0;
    left:0;
    z-index: 100;
    background: var(--main-1, #00C66E);
    height:80px;
    width:100%;
}

.header_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:100%;
}
.header_nav{
    display: flex;
    gap:50px;
}
.header_nav ol a{
    color: var(--main-2, #070300);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.burger{
    margin-left: 20px;
}

.hero{
    background-image: url('/dist/img/hero-bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
}



.hero_info-bg{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 1004px;
	height: 631px;
    background: var(--main-1, #00C66E);
    display: none;
}

.hero_container{
    height:100%;
}
.hero_text{
    width:100%;
    max-width: 1120px;
    height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	z-index: 100;
	position: relative;
}
.hero_text_wrapper{
    background: var(--main-1, #00C66E);
    position: relative;
}
.hero_text_wrapper::before{
    content: '';
    background: var(--main-1, #00C66E);
    height: 100%;
    width:100%;
    left: -100%;
    position: absolute;
}

.hero_text_wrapper::after{
    content: '';
	background-image: url('/dist/img/hero-text-bg-fix.png');
	height: 100%;
	width: 100px;
	top: 0;
	right: -100px;
	position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero_text h1{
    color: var(--main-2, #070300);
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; 
    margin-top: 70px;
	margin-bottom: 86px;
	/* width: 771px; */
    width: 795px;
}

.hero_text h2{
    color: var(--main-2, #070300);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 80px;
    width: 576px;
}

.hero_text {
    color: var(--main-2, #070300);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: max-content;
}
.hero-nav{
    display: flex;
	margin-bottom: 81px;
	align-items: center;
}
.hero-nav .arrow{
    display: flex;
    align-items: center;
    margin-right:30px;
}
.btn-hero-text{
    color: var(--main-2, #070300);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 30px;
    text-transform: uppercase;
}



.btn-hero{
    display: flex;
    width: 270px;
    height: 50px;
    padding: 17px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: var(--main-2, #070300);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: 1px solid var(--main-2, #070300);
}

.hero_container{
    position: relative;
}
.btn-row{
    display: flex;
}

@media (max-width:1024px){
    .header_nav{
        display: none;
    }

}


@media (min-width:1024px){

    .burger{
        display: none;
    }
   
}


@media (min-width:1280px){

    .hero{
        height:calc(100vh - 80px);
        min-height:900px;
    }
   
}

@media (max-width:500px){
    .hero{
        background-size: cover;
        height: 465px;
        background-position: -140px top;
    }
    header{
        height: 35px;
    } 
}

@media (max-width:1024px){
    .logo svg{
        width:86px;
    }
}


@media (max-width:1279px){
 

    .link.header_phone svg{
        width:15px;
    }
    .btn.burger{
        margin-left: 10px;
    }
    .btn.burger svg{
        width:15px;
    }

    .hero_text h1{
        font-size:28px;
        width: 200px;
        margin: 20px 0;
    }
    .hero_text h2{
        font-size: 12px;
        width: 200px;
        margin: 20px 0;
    }
    .hero_text .hero-nav{
        margin: 20px 0;
        flex-wrap: wrap;
        gap: 10px;
    }

    .hero_text .hero-nav .btn-hero-text{
        width:100%;
    }
    .hero_text .hero-nav .btn-hero{
        width: max-content;
        height: 25px;
        padding: 17px 28px;
        font-size: 10px;
    }
    .hero_text_wrapper::after {
        width: 30px;
        right: -30px;
        background-size: cover;
        background-position: -20px;
    }
    .hero_text {
        width: 230px;
    }

    .btn-hero-text{
        font-size: 10px;
    }
    .hero_text h1 br{
        display: none;
    }
}

@media (min-width:500px) and (max-width:1279px){
    .hero{
        background-size: cover;
        height:70vh;
    }
    .hero_text {
        width: 300px;
    }
}

.section-title{
    color: var(--main-2, #070300);
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; 
}

@media (max-width:1024px){
    .section-title{
        font-size: 28px;
    }
}

.projects{
    padding-top: 150px;
}

.projects_slider
{
    height:100%;
}
.projects .section-title{
    margin-bottom: 62px;
}
.projects_slider_wrapper{
    width:100%;
    height:100%;
}
.project_slider-arrows{
    display: flex;
    gap:2px;
    justify-content: flex-end;
}

.arrow-slider-prev,
.arrow-slider-next{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 166.5px;
    height: 57px;
    background: #00C66E;
}
.project_slide{
    width:100%;
    height:100%;
    background-size:cover;
    background-repeat: no-repeat;
    padding: 270px 0;
}
.container-slide{
    display: flex;
    height:100%;
}
.project_text{
    background: var(--main-1, #00C66E);
    height: max-content;
    position: relative;
    padding-left: 65px;
}
.project_text::after{
    content: '';
    position: absolute;
    top:0;
    right:-66px;
    width:66px;
    height:100%;
    background-image: url('/dist/img/project-text-bg-fix.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.project_title{
    color: var(--main-2, #070300);
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 136px;
}
.project_description{
    width: 389px;
    color: var(--main-2, #070300);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 50px;
}
.project_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 28px;
    border: 1px solid var(--main-2, #070300);
    margin-top: 50px;
    margin-bottom: 65px;
}

section.video{
    position: relative;
    
}

.video_btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
.video_btn svg{
    width:100%;
}
.video_btn img{
    width:100%;
}

@media (max-width:1024px){
    .projects {
        padding-top: 50px;
    }
    .projects .section-title {
        margin-bottom: 34px;
    }
    .arrow-slider-prev, .arrow-slider-next{
        width: 15%;
        min-height: 20px;
        max-height:20px;
        padding: 0 15px
    }
    .project_slide {
        height: 430px;
        padding: 0;
        background-position: 30% 0;
    }
    .project_text {
        padding-left: 15px;
        margin-top: 165px;
    }

    .project_text::after{
        background-size: contain
    }
    .project_title{
        font-size: 20px;
        margin-top: 74px;
    }
    .project_description{
        font-size: 10px;
        margin-top: 20px;
        width: 210px;
    }
    .project_btn{
        width: 60px;
        height: 16px;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .project_btn svg{
        width:30px;
    }
    section.video{
        height:500px;
        overflow: hidden;
    }
    section.video svg{
        object-fit: cover;
        transform: translateX(-40%);
    }
    section.video img{
        object-fit: cover;
        transform: translateX(-40%);
    }

    .video_btn{
        width:60px;
    }
}

section.video .video_btn svg,
section.video .video_btn img
{
    transform: none;
}
.advantage{
    padding: 150px 0;
}
.advantage .section-title{
    margin-bottom: 89px;
}
.advantage_slider{
    display: flex;
    gap:90px;
    position: absolute;
}
.advantage_slide{
    width: 570px;
    max-width: 570px;
    cursor: grab;
}

.advantage_slide-title{
    color: var(--main-2, #070300);
    font-size:38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 50px;
    padding-top: 30px;
    border-top:1px solid #070300;
}

.advantage_slide-title span{
    opacity: 0.5;
}

.advantage_slide-description{
    color: var(--main-2, #070300);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 475px;
    margin-bottom: 50px;
    min-height:84px;
}
.advantage_slide-img{
    width:100%;
}
.advantage_slide-img img{
    width:100%;
}

@media (max-width:1024px){
    .advantage {
        padding: 50px 0;
    }
    .advantage_slider{
        gap:30px;
    }
    .advantage .section-title{
        font-size: 28px;
        font-weight: 900;
        max-width: 280px;
    }
    .advantage .section-title {
        margin-bottom: 36px;
    }
    .advantage_slide-title{
        display: flex;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 0;
	    height: 60px;
        padding-top: 20px;
    }
    .advantage_slide-description{
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        margin-bottom: 0;
        max-width: 190px;
    }
    .advantage_slide{
        min-width: 190px;
        max-width: 190px;
    }
    .advantage_container {
        max-width:100%;
    }
}

.userRequest{
    padding-top:100px;
}
.green-form{
    background: var(--main-1, #00C66E);
}
.purple-form{
    background: #5F2BB7;
}
.bg-form{
    background-image: url('/dist/img/question-form-bg.png');
}
.request_wrap{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}
.request-title{
    color: var(--main-2, #070300);
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; 
    margin-bottom: 50px;
}
.request-description{
    max-width: 460px;
    color: var(--main-2, #070300);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.request_form form {
    display: flex;
    flex-direction: column;
}
.request_form form{
    width:570px;
}
.request_form form input{
    background: var(--main-3, #F5F5F5);
    margin-bottom: 30px;
    padding: 20px;
    color: var(--main-2, #070300);
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.btn-request{
    display: flex;
    width: 270px;
    height: 50px;
    padding: 17px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background: var(--add-1, #5F2BB7);
    color: var(--main-3, #F5F5F5);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.form_description{
    opacity: 0.5;
    color: var(--main-2, #070300);
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top:15px;
}
.request_form{
    margin-right: 150px;
}
.request-btn-group{
    display: flex;
    flex-direction: column;
}
.request_img{
    width:100%;
    height: 500px;
    background-image: url('/dist/img/request-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    background-position: center;
}   
@media (max-width:1024px){
    .userRequest{
        padding-top: 50px;
    }
    .request-title{
        font-size: 28px;
        margin-bottom: 20px;
    }
    .request-description{
        font-size: 12px;
        margin-bottom: 20px;
    }
    .request_wrap{
        flex-direction: column;
        padding-bottom: 50px;
    }
    .request_form {
        margin-right:0;
        width: 100%;
    }
    .request_form form{
        width:100%;
    }
    .request_form form input{
        max-width: 100%;
        font-size: 8px;
        padding: 15px 8px;
        margin-bottom: 5px;
    }
    .request_form form  input[type="email"] {
        margin-bottom: 20px;
    }
    .request-btn-group{
        display: flex;
        flex-direction: row;
    }
    .btn-request{
        display: flex;
        width:50%;
        max-width: 200px;
        height: 20px;
        justify-content: center;
        align-items: center;
        font-size: 8px;
    }
    .form_description{
        font-size: 6px;
        max-width: 132px;
        margin-top: 0;
        padding: 0 20px;
        padding-top: 5px;
    }
    .request_img{
        height: 208px;
        background-image: url('/dist/img/request-img-mob.png');
        padding-bottom: 50px;
        background-position: top;
        background-size: 100% 100%;
    }
}
.partner{
    padding: 150px 0;
}
.partner .section-title{
    width:100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
}
.partner .section-subtitle{
    display: flex;
    width:100%;
    justify-content: flex-start;
    color: var(--main-2, #070300);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    gap:15px;
    margin-bottom: 17px;
}
.partner .section-subtitle span{
    max-width: 481px;
}


.partner .section-description{
    display: flex;
    width:100%;
    justify-content: flex-end;
    color: var(--main-2, #070300);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 90px;
}
.partner .section-description span{
    max-width: 675px;
}

.partner_blocks{
    display: flex;
    flex-direction: column;
}
.partner_block{
    display: flex;
    width:100%;
}
.partner_block-info,
.partner_block-img{
    flex:1;
}
.block-owner{
    margin-bottom: 70px;
}
.block-parnter .partner_block-img{
    position: relative;
}
.block-parnter .partner_block-img img{
    bottom: -30px;
	position: absolute;
	right: 0;
}
.partner_block-info-number{
    margin-bottom: 90px;
}

.partner_block-info-number,
.partner_block-info-title-number
{
    color: var(--main-2, #070300);
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    opacity: 0.5;

}
.partner_block-info-title{
    color: var(--main-2, #070300);
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.partner_block-info-description{
    width: 475px;
    color: var(--main-2, #070300);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 50px;
}
.block-owner .partner_block-info{
    padding-left: 90px;
}
.partner_bloc-btn{
    display: flex;
    width: max-content;
    padding: 17px 28px;
    justify-content: center;
    align-items: center;
    color: var(--main-2, #070300);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: 1px solid var(--main-2, #070300);
}
@media (max-width:1440px){
     .partner_block-img img{
        width:100%;
     }
     .block-parnter .partner_block-img img{
        position: absolute;
        left: 0px;
        top: 0px;
    }
}
@media (max-width:1024px){
    .partner {
        padding: 50px 0;
        padding-right: 10%;
    }

    .partner .section-title{
     margin-bottom: 20px;
    }
    .partner .section-subtitle span{
        font-size: 12px;
       
    }
    .partner .section-subtitle{
        justify-content: space-between;
    }

    .partner .section-description{
        font-size: 8px;
    }
    .partner .section-description span{
         width: 195px;
    }
    .block-owner{
        flex-direction: column;
    }
    .block-parnter{
        flex-direction: column-reverse;
    }
    .block-parnter .partner_block-img img{
        position:relative;
        left: auto;
        top:  auto;
        bottom: auto;
    }
    .block-owner .partner_block-info{
        padding-left: 0;
    }
    .partner .section-description,
    .partner_block-img
    {
        margin-bottom: 30px;
    }
    .partner_block-info-title{
        font-size: 20px;
    }
    .partner_block-info-title-number{
        font-size: 20px;
    }
    .partner_block-info-title{
        display: flex;
        margin-bottom: 20px;
    }
    .partner_block-info-group{
        width: max-content;
	    max-width: 75%; 
    }
   .partner_block-info-title-number {
        display: flex;
        font-size: 20px;
    }
    .partner_block-info-description{
        width: 70%;
        font-size: 10px;
        margin-bottom: 20px;
    }
    .partner_block-info{
        display: flex;
        justify-content: space-between;
    }
    .partner_block-img img {
        width: 100%;
    }
    .partner_bloc-btn{
        padding: 17px 28px;
        font-size: 10px
    }
    .block-owner{
        margin-bottom: 30px;
    }
}

@media (max-width:1024px){
    .partner_block-info-number{
        display: none;
    }
}
@media (min-width:1025px){
    .partner_block-info-title-number{
        display: none;
    }
}
.partner_block-info-group{
    display: flex;
    flex-direction: column;
}
.emailRequest{
    padding: 90px 0;
}
.emailRequest .request_wrap{
    align-items: center;
    padding-bottom: 0;
}
@media (min-width:1280px) and (max-width:1440px){
    .emailRequest .request_wrap{
       gap:20px;
    } 
}
.emailRequest .btn-request{
    border:1px solid #fff;
}
.emailRequest .request-title{
    color: var(--main-3, #F5F5F5);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}
.emailRequest .form_description{
    color: var(--main-3, #F5F5F5);
}

@media (max-width:1024px){
    .emailRequest .request-title{
        font-size: 20px;
    }
    .emailRequest{
        padding: 50px 0;
    }
}
.faq{
    padding: 150px 0;
}
.faq_title{
    margin-bottom: 90px;
}
.faq_item{
    border-top:1px solid #070300;
    border-bottom:1px solid #070300;
    padding: 40px 30px;
    cursor: pointer;
    margin-bottom: 30px;
}
.faq_question{
    color: var(--main-2, #070300);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    transition: .3s all;
}
.faq_item.open .faq_question{
    padding-bottom:30px;
}

.faq_answer {
    display: grid;
    grid-template-rows: 0;
    color: var(--main-2, #070300);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0;
    overflow: hidden;
    transition: grid-template-rows .3s ease, opacity .3s ease;
    width: 80%;
    min-height:0;
}

.faq_item.open .faq_answer {
    grid-template-rows:auto;
    opacity: 1;
}

.faq_close{
    transform: none;
    transition: .3s all;
}


.faq_item.open .faq_close{
    transform: rotate(45deg);
}

@media (max-width:1024px){
    .faq{
        padding: 50px 0;
    }
    .faq_title{
        margin-bottom: 30px;
    }
    .faq_item{
        padding: 12px 15px;
        margin-bottom: 12px;
    }
    .faq_question{
        font-size: 12px;
    }
    .faq_answer {
        width:100%;
        font-size: 8px;
    }
    .faq_item.open .faq_question {
        margin-bottom: 12px;
    }
}


.questionRequest{
    padding-top:100px;
}
.bg-form .request-title,
.bg-form .request-description{
    color: var(--main-3, #F5F5F5);
}
@media (max-width:1439px){
    .questionRequest{
        display: none;
    }
}

footer{
    background: var(--main-1, #00C66E);
    padding: 41px 0;
}
.footer_wrapper{
    display: flex;
}
.footer-col{
    flex:1;
}
.footer_col-2{
    margin-right: 80px;
	display: flex;
	justify-content: space-around;
}
.footer-logo{
    margin-bottom: 60px;
}
.footer_copy{
    color: var(--main-2, #070300);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
}
.footer_nav ol{
    margin-bottom: 10px;
}
.footer_nav a{
    color: var(--main-2, #070300);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.footer_nav a .arrow{
    margin-right: 5px;
}
.footer_contacts{
    display: flex;
    flex-direction: column;
}
.link-phone{
    color: var(--main-2, #070300);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.link-email{
    color: var(--main-2, #070300);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.footer_social{
    display: flex;
    align-items: center;
    gap:15px;
}

@media (max-width:1024px){
    footer{
        padding: 20px 0;
    }
    .footer-logo{
        width:86px;
        margin-bottom: 19px;
    }

    .footer-logo svg{
        width:100%;
    }
    .footer_copy{
        font-size: 6px;
    }
    .footer_nav a{
        font-size: 7px;
    }
    .link-phone{
        font-size: 7px;
        margin-bottom: 8px;
    }
    .link-email{
        font-size: 7px;
        margin-bottom: 21px;
    }
    .footer_col-2{
        width:100%;
        margin-right: 0;
    }
    .footer-col{
        flex: inherit;
    }
      
}

.link-email .icon, .link-phone .icon{
    margin-right:15px;
}
.success{
    visibility: hidden;
    transition: .3s all;
    color: #fff;
	font-size: 31px;
	margin-top: 25px;
}

.success.open{
    visibility: visible;
}
.btn{
    transition: .3s all;
}
.btn-white:hover{
    background: var(--main-1, #00C66E);
    border:1px solid #00C66E;
}
.btn-purple:hover{
    background: #FFF;
    color: var(--main-2, #070300);
}

.btn-green:hover{
    background: #FFF;
}

@media (min-width:1440px){
   .block-parnter .partner_block-info{
     padding-left: 90px;
   }
}

.f-button.is-close-btn{
    display: none;
}
.fancybox__content{
    background: none!important;
    padding: 0!important;
}
.green-popup{
    max-width: 770px;
    max-height: 100vh;
    background: var(--main-1, #00C66E);
    padding: 100px;
    height: auto;
}
.green-popup .request_form{
    margin-right: 0;
}
.popup_title{
    margin-bottom:50px;
    color: var(--main-2, #070300);
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 88px */
}
.popup_subtitle{
    margin-bottom:80px;
    color: var(--main-2, #070300);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.close_popup{
    position: absolute;
	right: 50px;
	top: 50px;
    cursor:pointer;
}


@media (max-width:1024px){
    .green-popup{
        padding: 36px 20px;
        margin: 20px;
    }
    .popup_title{
        font-size: 28px;
    }
    .popup_subtitle{
        font-size: 12px;
    }

    .green-popup .request-btn-group{
        flex-direction: column;
    }

    .green-popup  .form_description {
        font-size: 6px;
        max-width: 100%;
        padding: 0;
        margin-top: 20px;
    }

    .green-popup .popup_title{
        margin-bottom: 20px;
    }
    .green-popup .popup_subtitle{
        margin-bottom: 40px;
    }
    .green-popup .success{
        margin-top: 20px;
    }
}
.form-popup{
    display: none;
}

.project_slider-arrows{
    display: none;
}